.crowdfunding__content {
	display: flex;
}

.crowdfunding__l,
.crowdfunding__r {

}

.crowdfunding__l {
	width: 100%;
	flex-shrink: 1;
}

.crowdfunding__r {
	flex-shrink: 0;
	width: 350px;
	padding-left: 20px;
}