@import "variables";
@import "../assets/fonts/Avenir_Next/stylesheet";

body,
html {
	margin: 0;
	padding: 0;
	font-family: Avenir Next LT Pro, Arial;
}


.block {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-right: 25px;
	padding-left: 25px;
}

body, div, h1, h2, h3, h4, h5, h6, header, html, img, input, label, li, section, textarea, ul {
	box-sizing: border-box;
}

.logo {

}

.section {

}

.section__row {
	padding-top: 12px;
}

.section__row-mode-1 {
	display: flex;
	justify-content: flex-end;
}

.section__heading {
	font-size: 30px;
	color: #292787;
	line-height: 40px;
}

.section__error {
	color: red;
}

.input {
	height: @inputHeight;
	line-height: @inputHeight;
	padding: 0 15px;
}

.button {
	height: @inputHeight;
	line-height: @inputHeight;
	text-align: center;
	flex-shrink: 0;
	cursor: pointer;
	vertical-align: top;
	user-select: none;
	position: relative;
	border: none;
	color: #fff;
	padding: 0 15px;
	border-radius: 4px;
	font-size: 16px;
	letter-spacing: 0;
}

.button-mode-1 {
	background: @color1;
}

.button-mode-1:hover {
	background: darken(@color1, 5%);
}

.heading {
	font-size: 64px;
	color: @color2;
	letter-spacing: 0;
	line-height: 80px;
}