.wallet__table {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(66,134,245,0.10);
	border-radius: 6px;
	overflow: hidden;
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 20px;
}

.wallet__td {
	padding: 15px 30px;
	min-width: 150px;
}

.wallet__td-th {
	background: #DFE3EA;
}

.wallet__start,
.wallet__transfer {
	width: 160px;
	right: 25px;
}

.wallet__start {
	position: absolute;
	top: 25px;
}

.wallet__transfer {
	position: absolute;
	top: 75px;
}